body {
	font-family: 'Roboto', 'Raleway', sans-serif;
}

/*NAV STYLING*/

.nav-colored {
	background-color: #fff;
	color: #303030;
}

nav.navbar {
transition: all 0.35s;
}

/*HEADER STYLES*/

#background {
	height: 100vh;
	background-image: url('imgs/background.jpg');
}

#header-text {
	padding-top: 40vh;
	color: white;
	padding-left: 10%;
}

#header-text h1 {
	font-size: 3.5rem;
	font-weight: bold;
}
#header-text p{
	font-size: 1.5rem;
}

@media screen and (max-width: 540px) {
    #header-text {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20vh;
        text-align: center;
    }
}

/*BUTTON STYLING*/

.btn-outline-custom {
	border: 1px solid white;
	color: white;
	border-radius: 15px;
}

.btn-outline-custom:hover {
	background-color: white;
	color: black;
}

/*ABOUT SECTION STYLING*/
#about {
	height: 40vh;
	background-color: #efefef;
	font-family: 'Raleway';
}

#about p{
	margin: 3%;
	text-align: center;
}

#about p:nth-of-type(2) {
	margin-top: 80px;
}

.heading{
	text-align: center;
	padding-top: 3%;
}

/*SKILL SECTION STYLING*/
#skills h2 {
	text-align: center;
	margin-bottom: 40px;
	margin-top: 20px;
	font-size: 45px;
	font-family: 'Raleway';
}

#skill-imgs {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.skill {
	margin: 15px 40px;
}

.skill img {
	width: 200px;
}

.skill p{
	text-align: center;
	margin-top: 20px;
	font-size: 22px;
}