table { 
    border-collapse: collapse; 
    font-family: Calibri, sans-serif; 
}

colgroup, tbody { 
    border: solid medium; 
}
td { 
    border: solid thin; 
    height: 2em; 
    width: 2em; 
    text-align: center; 
    padding: 0; 
}

#colorPickers {
    display: none;
    justify-content:space-around;
    margin-top: 3em;
    margin: 3em auto;
    width: 30em;
}

#boards {
    display: flex;
    justify-content:center;
    margin-top: 5em;
}

#solved {
    margin-left: 5em;
}

#input {
    display: flex;
    justify-content:center;
    margin-top: 3em;
}

#boardInput {
    width:575px;
}

#checkboxArea {
    margin-left: 1em;
}

.inputButton {
    margin-left: 1em;
}

.selected {
    background-color: lightblue;
}

.center {
    text-align: center;
}

#resultString{
    margin-top: 3em;
}
